#root {
  margin: 0 auto;
  text-align: center;
  display: flex;
  place-items: center;
  justify-content: center;
  min-height: 100vh;
}

h4 {
  font-family: 'Rubik', sans-serif;
}

p {
  font-family: 'Roboto Mono', monospace;
}
